.sidebar1 {
	width: 8vw;
	background-color: rgb(4, 12, 23);
	height: 95vh;
	border-right: 0.5px solid gray;
}

.sidebar2 {
	width: 100%;
	background-color: rgb(4, 12, 23);
	height: 95vh;

	overflow: scroll;
}

.sidebaritem {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgb(7, 31, 56);
	height: 50px;
	font-size: 10px;
	margin-bottom: 5px;
	margin: 3px;
}

.sidebaritem:hover {
	 background: rgb(23, 59, 97);
}

.sidebaritem-selected {
	border-left: 2px solid orange;
	background: rgb(23, 59, 97);
}


.sidebar2item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: rgb(7, 31, 56);
	height: 25px;
	font-size: 12px;
	padding: 5px;

	border-top: 0.5px solid gray;
	border-bottom: 0.5px solid gray;
}

.sidebar2item:hover {
	 background: rgb(23, 59, 97);
}

.sidebar2item-child:hover {
	 background: rgb(23, 59, 97);
}

.sidebar2item-child {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: rgb(7, 31, 56);
	height: 25px;
	font-size: 12px;
	padding: 5px;

	border-bottom: 0.5px solid gray;
	border-left: 0.5px solid gray;

	margin-left: 15px;		
}

.sidebar2item:hover {
	 background: rgb(23, 59, 97);
}
		
.sidebar2item-selected {
	background: rgb(23, 59, 97);
	border-left: 2px solid orange;
}

.sidebars {
  display: flex;
  flex-direction: row;
  height: 100%;
	width: 250px;
  min-width: 10vw;
}
